.services{
  padding: 0 3rem 0 3rem;
  display: flex;
  height: -2vh;

}
.awesome{
  display: flex;
  flex-direction: column;
  position: relative;
  bottom: 15rem;
    right: 6rem;
}
.awesome>:nth-child(1){
  color:var(--black);
  font-size: 2.5rem;
  font-weight: bold;
}

.awesome>:nth-child(2){
  color:var(--gray);
  font-size: 22px;
  margin-top: 1rem;
   width: 32rem; 
}
.s-button{
  width: 8rem;
  height: 3rem;
  margin-top: 1rem;

}
/* .cards{
  position: relative;
}
.cards>*{
  position: absolute;
} */